body {
    font-family: Helvetica Neue, Helvetica;
    color: #282828;
    width: 95%;
    padding: 10px;
    background-image: url("../assets/katie-smith-104748.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

div.content {
    margin: auto;
    width: 40%;

}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

ul.header li a:hover {
    background-color: #999999;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #111;
    text-align: center;
    color: #FFF;
}