button.dish {
    padding: 20px 20px;
    background-color: #333333;
    font-size: 20px;
    color: #F7F3F0;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #F7F3F0;
    /*margin-left: 30%;*/
    /*margin-right: 30%*/
}

select {
    width: 100%;
}
